* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: rgb(0, 163, 163);
 color: rgb(0, 0, 0);
 -webkit-font-smoothing: antialiased;
 display: flex;
 justify-content: center;
 align-items: center;
}

body, input, button {
 font-size: 16px;
 font-family: 'Cinzel', Times, serif;
}

button {
 cursor: pointer;
}

.reward-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chest-picture {
  width: 300px;
}

.reward-container h1 {
  max-width: 400px;
  text-align: center;
}

#reward {
  text-align: center;
  background-color: rgb(165, 116, 42);
  padding: 10px;
  border: 3px solid rgb(97, 53, 27);
  border-radius: 5px;
}